<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/:risus@</string>
	<string>/:naughty@</string>
	<string>/:sweat@</string>
	<string>/:titter@</string>
	<string>/:goodbye@</string>
	<string>/:beat@</string>
	<string>/:wipe@</string>
	<string>/:pig@</string>
	<string>/:rose@</string>
	<string>/:tears@</string>
	<string>/:cry@</string>
	<string>/:hush@</string>
	<string>/:cruel@</string>
	<string>/:crazy@</string>
	<string>/:grievance@</string>
	<string>/:stool@</string>
	<string>/:bomb@</string>
	<string>/:kitchenknife@</string>
	<string>/:loveliness@</string>
	<string>/:eroticism@</string>
	<string>/:shy@</string>
	<string>/:complacent@</string>
	<string>/:vomit@</string>
	<string>/:smile@</string>
	<string>/:angry@</string>
	<string>/:awkward@</string>
	<string>/:terrified@</string>
	<string>/:coldsweat@</string>
	<string>/:lovingheart@</string>
	<string>/:courtship@</string>
	<string>/:supercilious@</string>
	<string>/:arrogance@</string>
	<string>/:sad@</string>
	<string>/:surprise@</string>
	<string>/:question@</string>
	<string>/:sleep@</string>
	<string>/:kiss@</string>
	<string>/:rustic@</string>
	<string>/:decay@</string>
	<string>/:twitchmouth@</string>
	<string>/:cattiness@</string>
	<string>/:struggle@</string>
	<string>/:asleep@</string>
	<string>/:rightprecedence@</string>
	<string>/:hug@</string>
	<string>/:awfully@</string>
	<string>/:contempt@</string>
	<string>/:dizzy@</string>
	<string>/:soldier@</string>
	<string>/:poor@</string>
	<string>/:strong@</string>
	<string>/:week@</string>
	<string>/:handshake@</string>
	<string>/:victory@</string>
	<string>/:fist@</string>
	<string>/:fade@</string>
	<string>/:rice@</string>
	<string>/:cake@</string>
	<string>/:watermelon@</string>
	<string>/:beer@</string>
	<string>/:ladybird@</string>
	<string>/:seduce@</string>
	<string>/:ok@</string>
	<string>/:loveyou@</string>
	<string>/:coffee@</string>
	<string>/:moon@</string>
	<string>/:knife@</string>
	<string>/:disappointing@</string>
	<string>/:mauler@</string>
	<string>/:heartbroken@</string>
	<string>/:sun@</string>
	<string>/:gift@</string>
	<string>/:soccer@</string>
	<string>/:skeleton@</string>
	<string>/:lightning@</string>
	<string>/:hungry@</string>
	<string>/:sleepy@</string>
	<string>/:curse@</string>
	<string>/:torment@</string>
	<string>/:digout@</string>
	<string>/:applause@</string>
	<string>/:solidfood@</string>
	<string>/:leftprecedence@</string>
	<string>/:yawn@</string>
	<string>/:weeping@</string>
	<string>/:threaten@</string>
	<string>/:basketball@</string>
	<string>/:tabletennis@</string>
	<string>/:no@</string>
	<string>/:shutup@</string>
	<string>/:fortunecat@</string>
	<string>/:doublehappiness@</string>
	<string>/:firecracker@</string>
	<string>/:lantern@</string>
	<string>/:makefortune@</string>
	<string>/:singsong@</string>
	<string>/:shopping@</string>
	<string>/:email@</string>
	<string>/:graceful@</string>
	<string>/:acclaim@</string>
	<string>/:pray@</string>
	<string>/:burst@</string>
	<string>/:lollipop@</string>
	<string>/:milk@</string>
	<string>/:noodle@</string>
	<string>/:banana@</string>
	<string>/:aircraft@</string>
	<string>/:car@</string>
	<string>/:lheadstock@</string>
	<string>/:carriage@</string>
	<string>/:rheadstock@</string>
	<string>/:cloudy@</string>
	<string>/:rain@</string>
	<string>/:money@</string>
	<string>/:panda@</string>
	<string>/:bulb@</string>
	<string>/:windmill@</string>
	<string>/:alarm@</string>
	<string>/:umbrella@</string>
	<string>/:colorball@</string>
	<string>/:diamondring@</string>
	<string>/:sofa@</string>
	<string>/:tissue@</string>
	<string>/:pill@</string>
	<string>/:gun@</string>
	<string>/:frog@</string>
</array>
</plist>
